In [1]:
_RIOT_API_KEY='RGAPI-530dc2f5-6f18-414d-b0ac-0037d535622c'
from riotwatcher import LolWatcher
import helper_functions as help
import role_classification as rc
import analysis_functions as af
import constants
import pandas as pd
import numpy as np
from datetime import datetime
import mysql.connector
from sqlalchemy import create_engine
import concurrent.futures
import oracledb

from collections import Counter
from shapely.geometry import Point
from shapely.geometry.polygon import Polygon

from itertools import compress

lol_watcher = LolWatcher(_RIOT_API_KEY)
#match = lol_watcher.match.by_id('na1', 'NA1_3891774034')
#match = lol_watcher.match.by_id('na1', 'NA1_4720874733')
mysql_engine = help.create_mysql_engine()
mysql_engine

Engine(mysql+mysqlconnector://root:***@127.0.0.1:3306/riot_api)

In [30]:
# conn_string = """(description= (retry_count=20)(retry_delay=3)(address=(protocol=tcps)(port=1522)(host=adb.us-sanjose-1.oraclecloud.com))(connect_data=(service_name=g02e3ca7d17e660_riotapidb_low.adb.oraclecloud.com))(security=(ssl_server_dn_match=yes)))"""

# oracle_conn=oracledb.connect(
#      user="admin",
#      password="Iamnotgroot123",
#      dsn="riotapidb_medium",
#      config_dir="/Users/mmend/OneDrive/riot_api_git_clone_folder/Riot_Api/v1/oracle_wallet",
#      wallet_location="/Users/mmend/OneDrive/riot_api_git_clone_folder/Riot_Api/v1/oracle_wallet",
#      wallet_password="Iamnotgroot123")

In [2]:

q1 = """select * from lol_item_mapping"""
df_items = pd.read_sql(q1, mysql_engine)
df_items

    itemId                   itemName
0     1001                      Boots
1     1004               Faerie Charm
2     1006          Rejuvenation Bead
3     1011               Giant's Belt
4     1018           Cloak of Agility
..     ...                        ...
422   7032                    Flicker
423   7033  Cry of the Shrieking City
424   7050      Gangplank Placeholder
425   8001          Anathema's Chains
426   8020               Abyssal Mask

[427 rows x 2 columns]

In [8]:
con = oracledb.connect(user = "admin", password = "Iamnotgroot123", dsn = "riotapidb_medium",
                        config_dir = r"C:\Users\mmend\OneDrive\riot_api_git_clone_folder\Riot_Api\v1\oracle_wallet",
                        wallet_location = r"C:\Users\mmend\OneDrive\riot_api_git_clone_folder\Riot_Api\v1\oracle_wallet",
                        wallet_password = "Iamnotgroot123")
con
con.version

'19.20.0.1.0'

In [28]:
creat_table_query = """ create table test_upload_table (
    name varchar(255),
    pay number
)"""

rows = [("Bob", 10000), ("Tim", 25000), ("Jonny", 42000)]

In [29]:
with con.cursor() as cursor:
    cursor.execute(creat_table_query)

    # for row in cursor.execute ("select * from persons"):
    #     print(row)

In [18]:
with con.cursor() as cursor:
    cursor.executemany("insert into test (name, pay) values (:1,:2)", rows)
    print('rows inserted')

rows inserted

In [42]:
with con.cursor() as cursor:
    for row in cursor.execute("select * from test_upload_table"):
        print (row)

('Bob', 10000)
('Tim', 25000)
('Jonny', 42000)
('bill', 123456)
('Bob', 10000)
('Tim', 25000)
('Jonny', 42000)
('bill', 123456)

In [37]:
test_df.values

array([['Bob', 10000],
       ['Tim', 25000],
       ['Jonny', 42000],
       ['bill', 123456]], dtype=object)

In [41]:
with con.cursor() as cursor:
    rows = [tuple(x) for x in test_df.values]
    cursor.executemany("INSERT INTO test_upload_table VALUES (:1,:2)" , rows)

In [44]:
read_df = pd.read_sql('SELECT * FROM test_upload_table', con)
read_df

C:\Users\mmend\AppData\Local\Temp\ipykernel_33444\2776507556.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  read_df = pd.read_sql('SELECT * FROM test_upload_table', con)

    NAME     PAY
0    Bob   10000
1    Tim   25000
2  Jonny   42000
3   bill  123456
4    Bob   10000
5    Tim   25000
6  Jonny   42000
7   bill  123456

In [27]:
from sqlalchemy.engine import create_engine
import pandas as pd
import cx_Oracle
# cx_Oracle.init_oracle_client(lib_dir=r"C:\Program Files (x86)\instantclient_21_10")

DIALECT = 'oracle'
SQL_DRIVER = 'cx_oracle'
USERNAME = 'admin' #enter your username
PASSWORD = 'Iamnotgroot123' #enter your password
HOST = 'adb.us-sanjose-1.oraclecloud.com' #enter the oracle db host url
PORT = 1522 # enter the oracle port number
SERVICE = 'riotapidb_medium' # enter the oracle db service name
ENGINE_PATH_WIN_AUTH = DIALECT + '+' + SQL_DRIVER + '://' + USERNAME + ':' + PASSWORD +'@' + HOST + ':' + str(PORT) + '/?service_name=' + SERVICE

oracle_engine = create_engine(ENGINE_PATH_WIN_AUTH)
print(oracle_engine)
test_df = pd.read_sql('SELECT * FROM test', con)
test_df

Engine(oracle+cx_oracle://admin:***@adb.us-sanjose-1.oraclecloud.com:1522/?service_name=riotapidb_medium)

C:\Users\mmend\AppData\Local\Temp\ipykernel_33444\3730641711.py:17: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  test_df = pd.read_sql('SELECT * FROM test', con)

    NAME    PAY
0    Bob  10000
1    Tim  25000
2  Jonny  42000

In [6]:
#cx_connection = cx_Oracle.connect(USERNAME+'/' + PASSWORD + '@' + HOST + ':' + str(PORT) + '/' + SERVICE)
#cx_connection
engine = create_engine("oracle+cx_oracle://admin:Iamnotgroot123@adb.us-sanjose-1.oraclecloud.com:1522/?service_name=riotapidb_medium&encoding=UTF-8&nencoding=UTF-8")
engine
test_df2 = pd.read_sql('SELECT * FROM persons', engine)
test_df2

DatabaseError: (cx_Oracle.DatabaseError) ORA-12547: TNS:lost contact
(Background on this error at: https://sqlalche.me/e/20/4xp6)

Engine(mysql+mysqlconnector://root:***@127.0.0.1:3306/riot_api)

In [3]:
df = af.prep_comparison_df('souporsecret', engine, minutes_to_analyse = [14], teammates_names = [])
pd.options.display.max_columns=100
df.head(3)

,matchId,championName_x,summonerName_x,role,winFlag_x,teamName_x,teamMate_x,queueName,gameCreationDate,minute,participantId_x,totalGold_x,xp_x,minionsKilled_x,jungleMinionsKilled_x,totalCS_x,totalDamageDoneToChampions_x,championName_y,summonerName_y,winFlag_y,teamName_y,teamMate_y,participantId_y,totalGold_y,xp_y,minionsKilled_y,jungleMinionsKilled_y,totalCS_y,totalDamageDoneToChampions_y,cs_diff,xp_diff,gold_diff,dmg_diff
0,NA1_4630778042,Zyra,souporsecret,SUPPORT,1,Blue,1,5v5 Ranked Flex games,2023-04-15 15:48:49,14,5,3552,3337,11,0,11,4275,Milio,1 tÃ´ bÃºn bÃ² hue,0,Red,0,10,2986,3841,1,0,1,994,10,-504,566,3281
1,NA1_4630778042,Draven,aerialblast,BOTTOM,1,Blue,1,5v5 Ranked Flex games,2023-04-15 15:48:49,14,4,4183,4391,100,0,100,841,Ashe,darkness197,0,Red,0,9,4611,4523,104,0,104,4470,-4,-132,-428,-3629
2,NA1_4630778042,KSante,ncm shrek,MIDDLE,1,Blue,1,5v5 Ranked Flex games,2023-04-15 15:48:49,14,3,4210,7146,100,0,100,6404,Gwen,dragonsins2811,0,Red,0,6,4150,6283,89,4,93,6079,7,863,60,325

In [21]:
cx_Oracle.init_oracle_client(lib_dir=r"C:\Program Files (x86)\instantclient_21_10")

In [3]:
summ_name = 'souporsecret'
query = f"""
select distinct 
	summonername,
    count(distinct matchid)
from lol_match_details
where matchid in ( select distinct matchid from lol_match_details where summonername = '{summ_name}') and summonername !='{summ_name}'
group by 1
order by 2 desc
limit 20;
"""
df = pd.read_sql(query, con=engine)
df

        summonername  count(distinct matchid)
0           IrishGuy                      642
1        AerialBlast                      541
2        SpicedCider                      488
3          radaemon1                      464
4          koreazian                      160
5           Teroboal                      118
6             Kroocs                       54
7         imnaeatchu                       46
8       JellyBlaster                       36
9   LIAAAAAAAAAAAAAA                       20
10      GoofyGriefer                       20
11     PepegaMindset                       18
12     The4thAnd9ers                       16
13  Boss 0f This Gym                       15
14         NCM Shrek                       13
15    CerebralPlayer                       11
16     AngusPepperer                        9
17          Bao Long                        6
18   ireliathinkhard                        5
19    MaximusRonaldo                        5

In [4]:
role = 'MIDDLE'
x = af.stats_at_min(summ_name, role, engine, minutes_to_analyse =[14], teammates_names=['irishguy'], return_type='normal' )
x

,championName_x,Games,Winrate,CS_Diff@14,XP_Diff@14,Gold_Diff@14,DMG_Diff@14
27,Total,206,0.582524,-2.053398,-165.766990,13.228155,780.572816
23,Xerath,37,0.621622,0.378378,91.648649,140.405405,1561.432432
19,Syndra,29,0.655172,0.827586,-194.034483,191.689655,757.000000
10,Leblanc,19,0.526316,-14.052632,-434.947368,-325.789474,-36.631579
3,Corki,17,0.529412,2.941176,-53.352941,278.000000,1742.058824
15,Orianna,17,0.529412,7.764706,232.588235,296.411765,165.823529
26,Zoe,14,0.571429,-3.214286,-162.285714,-154.071429,712.142857
2,Cassiopeia,13,0.538462,8.076923,39.230769,351.461538,804.846154
1,Annie,11,0.727273,-10.363636,-491.363636,-285.818182,1540.000000
0,Ahri,9,0.444444,-6.555556,-212.111111,379.666667,1391.111111
6,Karma,8,0.625000,-0.125000,74.000000,32.625000,964.000000
8,Kennen,6,0.500000,-8.666667,-376.000000,-197.666667,280.666667
13,Malzahar,5,0.800000,-5.000000,-626.800000,-823.200000,-506.000000
25,Ziggs,4,0.500000,-6.000000,-949.500000,-89.250000,264.750000
24,Yone,2,0.500000,-3.000000,-487.000000,-570.000000,-536.500000
14,Neeko,2,1.000000,-13.500000,-47.000000,-12.500000,2267.500000
12,Malphite,2,0.000000,-7.500000,-208.500000,-427.500000,-805.500000
16,Shen,1,1.000000,-26.000000,-346.000000,-747.000000,-2223.000000
17,Swain,1,1.000000,7.000000,243.000000,1433.000000,1415.000000
18,Sylas,1,1.000000,-22.000000,-1488.000000,-1180.000000,-2916.000000
11,Lux,1,1.000000,-2.000000,-1200.000000,-2008.000000,-4922.000000
20,Varus,1,0.000000,-10.000000,-1429.000000,-1100.000000,-2178.000000
21,Velkoz,1,1.000000,-15.000000,-359.000000,-1353.000000,-2298.000000
22,Vex,1,0.000000,-16.000000,-994.000000,-2190.000000,-328.000000
5,Galio,1,0.000000,-19.000000,-1672.000000,-1734.000000,-277.000000
7,Kassadin,1,1.000000,4.000000,1569.000000,1422.000000,1459.000000
4,Ekko,1,0.000000,-4.000000,-1346.000000,283.000000,1315.000000
9,Kled,1,0.000000,-10.000000,-516.000000,303.000000,618.000000

400.0