In [31]:
import pandas as pd
import pandasql as psql
df_soup=pd.read_csv("100_Match_Stats_Souporsecret.csv")
print(df_soup.shape)
df_soup.head(5)

(29980, 15)

,minute,participantId,totalGold,level,xp,minionsKilled,jungleMinionsKilled,gameId,queue,teamId,win,champion_name,role,lane,summonerName
0,0,3,500,1,0,0,0,3840383384,5v5 Ranked Flex games,Blue,True,Alistar,DUO_SUPPORT,BOTTOM,SouporSecret
1,1,3,500,1,0,0,0,3840383384,5v5 Ranked Flex games,Blue,True,Alistar,DUO_SUPPORT,BOTTOM,SouporSecret
2,2,3,522,1,113,0,0,3840383384,5v5 Ranked Flex games,Blue,True,Alistar,DUO_SUPPORT,BOTTOM,SouporSecret
3,3,3,1092,2,419,2,0,3840383384,5v5 Ranked Flex games,Blue,True,Alistar,DUO_SUPPORT,BOTTOM,SouporSecret
4,4,3,1308,3,707,4,0,3840383384,5v5 Ranked Flex games,Blue,True,Alistar,DUO_SUPPORT,BOTTOM,SouporSecret

In [108]:
''' @Params
    df = name of dataframe
    name = summoner name **NOT USED YET
    time = time  to see gold diff
    lane = lane : BOTTOM, TOP, MIDDLE, JUNGLE, NONE
    ROLE = position: DUO_SUPPORT, DUO_CARRY, SOLO, NONE, DUO
'''
def gold_diff_x(df, name, time, lane="", role=""):
    minute=str(time)
 
    b1 = "SELECT distinct minute, gameId, summonerName, champion_name, totalgold, role, lane  FROM df where minute = "+minute + " and teamId = \"Blue\" "
    if lane != "":
        b1+= " and  lane = \"" + lane + "\""
    if role != "":
        b1+= " and  role = \"" + role + "\""
    
    r1 = "SELECT distinct minute, gameId, summonerName, champion_name, totalgold, role, lane  FROM df where minute = "+minute + " and teamId = \"Red\" "
    if lane != "":
        r1+= " and  lane = \"" + lane + "\""
    if role != "":
        r1+= " and  role = \"" + role + "\""
    print(b1)                                                                                               
    #q1 = "select distinct queue from df"
    df_blue= psql.sqldf(b1, locals())
    df_red = psql.sqldf(r1, locals())
    df_versus=df_blue.merge(df_red, on = ["gameId","minute"])

    return [df_versus,df_blue]
df2=gold_diff_x(df_soup,"Souporsecret",10)
df2[0].head(15)

SELECT distinct minute, gameId, summonerName, champion_name, totalgold, role, lane  FROM df where minute = 10 and teamId = "Blue"

,minute,gameId,summonerName_x,champion_name_x,totalGold_x,role_x,lane_x,summonerName_y,champion_name_y,totalGold_y,role_y,lane_y
0,10,3840383384,SouporSecret,Alistar,2915,DUO_SUPPORT,BOTTOM,ILikeBoyHole,Brand,2264,DUO_SUPPORT,BOTTOM
1,10,3840383384,SouporSecret,Alistar,2915,DUO_SUPPORT,BOTTOM,Motivational,Jinx,3128,DUO_CARRY,BOTTOM
2,10,3840383384,SouporSecret,Alistar,2915,DUO_SUPPORT,BOTTOM,Alphabetacal,TahmKench,3164,NONE,JUNGLE
3,10,3840383384,SouporSecret,Alistar,2915,DUO_SUPPORT,BOTTOM,Optimus Tumes,Vayne,3883,SOLO,TOP
4,10,3840383384,SouporSecret,Alistar,2915,DUO_SUPPORT,BOTTOM,Alphabetical,Viktor,3737,SOLO,MIDDLE
5,10,3840383384,AerialBlast,Draven,3326,DUO_CARRY,BOTTOM,ILikeBoyHole,Brand,2264,DUO_SUPPORT,BOTTOM
6,10,3840383384,AerialBlast,Draven,3326,DUO_CARRY,BOTTOM,Motivational,Jinx,3128,DUO_CARRY,BOTTOM
7,10,3840383384,AerialBlast,Draven,3326,DUO_CARRY,BOTTOM,Alphabetacal,TahmKench,3164,NONE,JUNGLE
8,10,3840383384,AerialBlast,Draven,3326,DUO_CARRY,BOTTOM,Optimus Tumes,Vayne,3883,SOLO,TOP
9,10,3840383384,AerialBlast,Draven,3326,DUO_CARRY,BOTTOM,Alphabetical,Viktor,3737,SOLO,MIDDLE
10,10,3840383384,Teroboal,Gnar,4019,SOLO,TOP,ILikeBoyHole,Brand,2264,DUO_SUPPORT,BOTTOM
11,10,3840383384,Teroboal,Gnar,4019,SOLO,TOP,Motivational,Jinx,3128,DUO_CARRY,BOTTOM
12,10,3840383384,Teroboal,Gnar,4019,SOLO,TOP,Alphabetacal,TahmKench,3164,NONE,JUNGLE
13,10,3840383384,Teroboal,Gnar,4019,SOLO,TOP,Optimus Tumes,Vayne,3883,SOLO,TOP
14,10,3840383384,Teroboal,Gnar,4019,SOLO,TOP,Alphabetical,Viktor,3737,SOLO,MIDDLE

In [94]:
    b1 = "SELECT distinct gameId from df_soup"
    df_blue= psql.sqldf(b1, locals())
    df_blue

        gameId
0   3840383384
1   3836522152
2   3836474151
3   3835675132
4   3835063919
..         ...
95  3749986859
96  3748804887
97  3748709114
98  3747711115
99  3747670484

[100 rows x 1 columns]