In [139]:

api_key='RGAPI-f8971a64-c2f9-4a01-a35d-c7b3ffb66446'

from riotwatcher import LolWatcher, ApiError
import pandas as pd

# golbal variables

watcher = LolWatcher(api_key)
my_region = 'na1'

me = watcher.summoner.by_name(my_region, 'Souporsecret')
#print(me)

my_ranked_stats = watcher.league.by_summoner(my_region, me['id'])
#print(my_ranked_stats)


my_matches = watcher.match.matchlist_by_account(my_region, me['accountId'])

# fetch last match detail
last_match = my_matches['matches'][0]
match_detail = watcher.match.by_id(my_region, last_match['gameId'])
participants = []
for row in match_detail['participants']:
    print(row.keys())
    participants_row = {}
    participants_row['participantId'] = row['participantId']
    participants_row['champion'] = row['championId']
    participants_row['spell1'] = row['spell1Id']
    participants_row['spell2'] = row['spell2Id']
    participants_row['win'] = row['stats']['win']
    participants_row['kills'] = row['stats']['kills']
    participants_row['deaths'] = row['stats']['deaths']
    participants_row['assists'] = row['stats']['assists']
    participants_row['totalDamageDealt'] = row['stats']['totalDamageDealt']
    participants_row['goldEarned'] = row['stats']['goldEarned']
    participants_row['champLevel'] = row['stats']['champLevel']
    participants_row['totalMinionsKilled'] = row['stats']['totalMinionsKilled']

    participants_row['role'] = row['timeline']['role']
    participants_row['lane'] = row['timeline']['lane']
    participants.append(participants_row)
match_details_df = pd.DataFrame(participants)
match_details_df2=match_details_df[['participantId','champion','role','lane']].copy()
match_details_df

dict_keys(['participantId', 'teamId', 'championId', 'spell1Id', 'spell2Id', 'stats', 'timeline'])
dict_keys(['participantId', 'teamId', 'championId', 'spell1Id', 'spell2Id', 'stats', 'timeline'])
dict_keys(['participantId', 'teamId', 'championId', 'spell1Id', 'spell2Id', 'stats', 'timeline'])
dict_keys(['participantId', 'teamId', 'championId', 'spell1Id', 'spell2Id', 'stats', 'timeline'])
dict_keys(['participantId', 'teamId', 'championId', 'spell1Id', 'spell2Id', 'stats', 'timeline'])
dict_keys(['participantId', 'teamId', 'championId', 'spell1Id', 'spell2Id', 'stats', 'timeline'])
dict_keys(['participantId', 'teamId', 'championId', 'spell1Id', 'spell2Id', 'stats', 'timeline'])
dict_keys(['participantId', 'teamId', 'championId', 'spell1Id', 'spell2Id', 'stats', 'timeline'])
dict_keys(['participantId', 'teamId', 'championId', 'spell1Id', 'spell2Id', 'stats', 'timeline'])
dict_keys(['participantId', 'teamId', 'championId', 'spell1Id', 'spell2Id', 'stats', 'timeline'])

,participantId,champion,spell1,spell2,win,kills,deaths,assists,totalDamageDealt,goldEarned,champLevel,totalMinionsKilled,role,lane
0,1,11,11,4,False,1,7,0,195827,10904,15,63,NONE,JUNGLE
1,2,143,3,4,False,2,4,5,69874,8901,14,39,DUO_SUPPORT,BOTTOM
2,3,202,7,4,False,4,4,4,152635,12338,15,230,DUO_CARRY,BOTTOM
3,4,245,14,4,False,1,5,5,121546,10041,15,182,DUO,TOP
4,5,98,4,12,False,1,7,6,67267,9024,15,123,DUO,TOP
5,6,102,14,12,True,9,1,11,210602,15499,17,239,NONE,JUNGLE
6,7,113,11,4,True,3,2,13,140214,10716,14,16,NONE,JUNGLE
7,8,1,14,4,True,6,2,16,117642,12518,16,190,SOLO,MIDDLE
8,9,412,4,14,True,0,4,22,18710,8211,13,35,DUO_SUPPORT,BOTTOM
9,10,222,7,4,True,9,0,9,167443,14582,15,223,DUO_CARRY,BOTTOM

In [218]:
match_summoners = watcher.match.by_id(my_region, last_match['gameId'])
#print(match_summoners)
#dict_keys(['gameId', 'platformId', 'gameCreation', 'gameDuration', 'queueId', 'mapId', 'seasonId', 'gameVersion', 'gameMode', 'gameType', 'teams', 'participants', 'participantIdentities'])
#print(match_summoners['participants'][1]['participantId'])
sumnames_index=['participantId','summonerName']
summmonersNamesDF=pd.DataFrame(columns=sumnames_index)
for i in range(10):
    x=[(match_summoners['participantIdentities'][i]['participantId']),
                match_summoners['participantIdentities'][i]['player']['summonerName']]
    sum_names_series = pd.Series(x, index = sumnames_index)
    summmonersNamesDF=summmonersNamesDF.append(sum_names_series,ignore_index="True")
summmonersNamesDF

  participantId     summonerName
0             1       Thanatos03
1             2     SouporSecret
2             3      AerialBlast
3             4         IrishGuy
4             5     Cadet Narnia
5             6  SnuffaLuffaKins
6             7   Tough Guy Nami
7             8     six6six6six6
8             9        fuyuxiang
9            10       Madara 239

In [143]:
match_timeline = watcher.match.timeline_by_match(my_region, last_match['gameId'])

l=len(match_timeline['frames'])
data_fields=['participantId','totalGold','level','xp','minionsKilled','jungleMinionsKilled']
golddf=pd.DataFrame(columns=['minute']+data_fields)

for i in range(l): #loops thru minutes
   
    for j in match_timeline['frames'][i]['participantFrames']:#loops thru champions
        champ_data=[i,  match_timeline['frames'][i]['participantFrames'][j][data_fields[0]],
                        match_timeline['frames'][i]['participantFrames'][j][data_fields[1]],
                        match_timeline['frames'][i]['participantFrames'][j][data_fields[2]],
                        match_timeline['frames'][i]['participantFrames'][j][data_fields[3]],
                        match_timeline['frames'][i]['participantFrames'][j][data_fields[4]],
                        match_timeline['frames'][i]['participantFrames'][j][data_fields[5]]]
       
        champ_data_series = pd.Series(champ_data, index = golddf.columns)
        #print(champ_data_series)
        golddf=golddf.append(champ_data_series,ignore_index="True")
golddf.head(5)

  minute participantId totalGold level xp minionsKilled jungleMinionsKilled
0      0             5       500     1  0             0                   0
1      0             1       500     1  0             0                   0
2      0             4       500     1  0             0                   0
3      0             3       500     1  0             0                   0
4      0             2       500     1  0             0                   0

In [144]:
#get champ mapping
# check league's latest version
latest = watcher.data_dragon.versions_for_region(my_region)['n']['champion']
# Lets get some champions static information
static_champ_list = watcher.data_dragon.champions(latest, False, 'en_US')

champ_dict = {} 
static_champ_list['data']['Aatrox']['key']
for champ in static_champ_list['data'].keys(): # iterates thru champ names
   champ_dict[static_champ_list['data'][champ]['key']]=champ
#print(champ_dict)

In [3]:
merged_1 = golddf.merge(match_details_df2,how='left',on='participantId')
merged_2 = merged_1.merge(summmonersNamesDF,how='left',on='participantId')

merged_2['champion_name']=merged_2['champion'].apply(str).map(champ_dict)
merged_2.head(5)

NameError: name 'golddf' is not defined

In [2]:

merged_3=merged_2.sort_values(["champion_name",'minute'],index=False)
merged_3.to_csv("Match_CSV.csv")
merged_3

NameError: name 'merged_2' is not defined